<div class="wrap"><H3>
 From here you can configure your different VIDEO GALLERIES, create new or delete existing ones. Above each gallery is the code to insert in your posts.</H3><br/><a href="http://www.pluginswp.com">Download more Wordpress plugins</a><br/><a href="http://www.pluginswp.com/ultimate-full-video-gallery/">Download Ultimate video gallery plugin</a><br/>
 
 <h3>Admin params:</h3>
 <ul>
	<li>Video URL. Write the url of your videos. You can write the url of the flv videos, the url of the videos on youtube or the ID of the videos from youtube. The first video would be the first line, the second video the second line …</li>
	<li>Video Titles. Write the titles of your videos. The first video would be the first line, the second video the second line …</li>
	<li>Gallery Width. Number indicating the width of the carousel. You can use a number in pixels or percentage. For example: 100% or 400px.</li>
	<li>Gallery Height. Number indicating the height of the carousel. You must use a number with px. For example 400px.</li>
	<li>Video Thumbnails row. Thumbnails row, number &gt; 0</li>
	<li>Video Thumbnails effect.Thumbnails mouse over animation.</li>
	<li>Seo Tags. Hhtml tag.</li>
	<li>Gallery Round. Plugin rounds.</li>
	<li>Design color 1. Plugin color, format: ffffff(white), 000000(black)</li>
	<li>Design color 2. Plugin color 2, format: ffffff(white), 000000(black)</li>
	<li>Skin player. Player buttons.</li>
	<li>Autoplay. Autoplay option.</li>
</ul>
 <br/>
	<form method="post" action="">
	  <input name="crear" type="hidden" id="crear" value="1">
     <input type='submit' name='' value='Create New Flash Video Gallery' />
    </form>
</div>
<hr>
